mkdocs==1.1.2           # https://github.com/mkdocs/mkdocs/issues/2457
mkdocs-material==7.1.4
mkdocs-macros-plugin==0.5.12
mkdocs-git-revision-date-plugin==0.3.1
mkdocs-bibtex==0.4.0
git+https://github.com/metaborg/metaborg-pygments#egg=metaborg-pygments
