/**
 * Light theme
 * ===========
 */
[data-md-color-scheme="spoofax"] {
    --md-primary-fg-color: #4242b3;
    --md-primary-fg-color--light: #a7a4b2;
    --md-primary-fg-color--dark: #1b1632;

    
    --md-accent-fg-color: #ff5f24;
    --md-accent-fg-color--light: #ffb142;
    --md-accent-fg-color--dark: #b33939;

    --md-default-bg-color: #ffffff;     /* same as color of hero-border-light.svg */

    --md-typeset-a-color: var(--md-accent-fg-color);
}

/**
 * Dark theme
 * ==========
 * Needs to be named 'slate' for `--md-hue` to work.
 */
[data-md-color-scheme="slate"] {
    --md-hue: 260;

    --md-primary-fg-color: #4242b3;
    --md-primary-fg-color--light: #a7a4b2;
    --md-primary-fg-color--dark: #1b1632;

    --md-accent-fg-color: #ff5f24;
    --md-accent-fg-color--light: #ffb142;
    --md-accent-fg-color--dark: #694545;

    --md-default-bg-color: #2f2a3a;     /* same as color of hero-border-dark.svg */

    --md-typeset-a-color: var(--md-accent-fg-color);
}

.md-button-download {
    width: 200px;
    text-align: center;
    margin: 0.15em 0 0.15em 0;
}
.md-button-download .twemoji {
    font-size: 2em;
}
.md-button-download .small-icons {
    font-size: 1em;
    vertical-align: bottom;
}
.md-button-download .small-icons .twemoji {
    font-size: inherit;
}
.wrap code {
    word-wrap: break-word;
    white-space: normal;
}
.warning {
    color: #ff9100;
}
.stop {
    color: #ff1744;
}